GRAPHQL_HOST=`https://<HOSTNAME>:<PORT>/graphql`
GRAPHQL_WS_HOST=`ws://<HOSTNAME>:<PORT>/graphql`
DATABASE_URL=mongodb://<MONGO_HOST>/consensus
APP_SECRET=<STRING_APP_SECRET>
SSL_KEY_PATH=<PATH_STRING>
SSL_CERT_PATH=<PATH_STRING>
SSL_CA_PATH=<PATH_STRING>
